<label for="fname" class="block text-sm font-medium text-gray-700"
  >First name:</label
><br />
<input
  type="text"
  id="fname"
  name="fname"
  value="John"
  class="block w-full rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border-solid"
/><br />
<label for="lname" class="block text-sm font-medium text-gray-700"
  >Last name:</label
><br />
<input
  type="text"
  id="lname"
  name="lname"
  value="Doe"
  class="block w-full rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border-solid"
/><br /><br />
<label for="title" class="block text-sm font-medium text-gray-700">Title:</label
><br />
<input
  type="text"
  id="title"
  name="title"
  class="block w-full rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border-solid"
/><br />
<label for="company" class="block text-sm font-medium text-gray-700"
  >Company:</label
><br />
<input
  type="text"
  id="company"
  name="company"
  class="block w-full rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border-solid"
/><br />
<label for="date" class="block text-sm font-medium text-gray-700">Date:</label
><br />
<input
  type="date"
  id="date"
  name="date"
  class="block w-full rounded-md border-gray-300 pl-10 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm border-solid"
/><br />
