<h1 class="text-3xl font-bold m-20 text-center">AI Flex Forms</h1>

<form
  [formGroup]="clientForm"
  class="container bg-slate-300 grid grid-cols-3 md:grid-cols-3 gap-4"
>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Client Code</mat-label>
      <input matInput formControlName="clientCode" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Client Name</mat-label>
      <input matInput formControlName="clientName" type="text" />
    </mat-form-field>
  </div>

  <h2 class="text-2xl font-bold m-20 text-center">Addresses</h2>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Mail Street 1</mat-label>
      <input matInput formControlName="addressMail.street1" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail Street 2</mat-label>
      <input matInput formControlName="addressMail.street2" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail City</mat-label>
      <input matInput formControlName="addressMail.city" type="text" />
    </mat-form-field>
  </div>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Mail State</mat-label>
      <input matInput formControlName="addressMail.state" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail Zip Code</mat-label>
      <input matInput formControlName="addressMail.zip" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail Contact</mat-label>
      <input matInput formControlName="addressMail.contact" type="text" />
    </mat-form-field>
  </div>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Mail Telephone</mat-label>
      <input matInput formControlName="addressMail.telNo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail Cellphone</mat-label>
      <input matInput formControlName="addressMail.cellNo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Mail Email</mat-label>
      <input matInput formControlName="addressMail.email" type="text" />
    </mat-form-field>
  </div>

  <h2 class="text-2xl font-bold m-20 text-center">Shipping Address</h2>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Ship Street 1</mat-label>
      <input matInput formControlName="addressShip.street1" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship Street 2</mat-label>
      <input matInput formControlName="addressShip.street2" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship City</mat-label>
      <input matInput formControlName="addressShip.city" type="text" />
    </mat-form-field>
  </div>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Ship State</mat-label>
      <input matInput formControlName="addressShip.state" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship Zip Code</mat-label>
      <input matInput formControlName="addressShip.zip" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship Contact</mat-label>
      <input matInput formControlName="addressShip.contact" type="text" />
    </mat-form-field>
  </div>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Ship Telephone</mat-label>
      <input matInput formControlName="addressShip.telNo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship Cellphone</mat-label>
      <input matInput formControlName="addressShip.cellNo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ship Email</mat-label>
      <input matInput formControlName="addressShip.email" type="text" />
    </mat-form-field>
  </div>

  <h2 class="text-2xl font-bold m-20 text-center">Other Information</h2>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Second Contact</mat-label>
      <input matInput formControlName="otherInfo.secondCtc" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Alternate Phone</mat-label>
      <input matInput formControlName="otherInfo.altPhone" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Surety Company</mat-label>
      <input matInput formControlName="otherInfo.suretyCo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Bond Amount</mat-label>
      <input matInput formControlName="otherInfo.bondAmount" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Payment Terms</mat-label>
      <input matInput formControlName="otherInfo.paymentTerms" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Credit Limit</mat-label>
      <input matInput formControlName="otherInfo.creditLimit" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Payment Status</mat-label>
      <input matInput formControlName="otherInfo.paymentStatus" type="text" />
    </mat-form-field>
  </div>
  <div class="md:col-span-1">
    <mat-form-field appearance="outline">
      <mat-label>Payor Unit No</mat-label>
      <input matInput formControlName="otherInfo.payorUnitNo" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Trucker</mat-label>
      <input matInput formControlName="otherInfo.trucker" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Trucker Telephone</mat-label>
      <input matInput formControlName="otherInfo.truckerTel" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Trucker Contact</mat-label>
      <input matInput formControlName="otherInfo.truckerCtc" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Salesman</mat-label>
      <input matInput formControlName="otherInfo.salesMan" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>CTPAT Status</mat-label>
      <input matInput formControlName="otherInfo.ctpatStatus" type="text" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Known Shipper</mat-label>
      <input matInput formControlName="otherInfo.knownShipper" type="text" />
    </mat-form-field>
  </div>
</form>
