<h1 class="text-3xl font-bold m-20 text-center">AI Flex Forms</h1>

<form [formGroup]="clientForm" class="container bg-slate-200">
<div class="grid grid-cols-3 gap-4">
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="clientCode">Client Code</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="clientCode" formControlName="clientCode" type="text">
  </div>
  <div class="col-span-3 sm:col-span-2">
    <label class="block font-medium text-gray-700 mb-2" for="clientName">Client Name</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="clientName" formControlName="clientName" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.street1">Street 1</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.street1" formControlName="addressMail.street1" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.street2">Street 2</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.street2" formControlName="addressMail.street2" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.city">City</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.city" formControlName="addressMail.city" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.state">State</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.state" formControlName="addressMail.state" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.zip">Zip</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.zip" formControlName="addressMail.zip" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.contact">Contact</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.contact" formControlName="addressMail.contact" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.telNo">Telephone No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.telNo" formControlName="addressMail.telNo" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.cellNo">Cell No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.cellNo" formControlName="addressMail.cellNo" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressMail.email">Email</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressMail.email" formControlName="addressMail.email" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.street1">Street 1</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.street1" formControlName="addressShip.street1" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.street2">Street 2</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.street2" formControlName="addressShip.street2" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.city">City</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.city" formControlName="addressShip.city" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.state">State</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.state" formControlName="addressShip.state" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.zip">Zip</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.zip" formControlName="addressShip.zip" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.contact">Contact</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.contact" formControlName="addressShip.contact" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.telNo">Telephone No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.telNo" formControlName="addressShip.telNo" type="text">

  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.cellNo">Cell No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.cellNo" formControlName="addressShip.cellNo" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="addressShip.email">Email</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="addressShip.email" formControlName="addressShip.email" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.secondCtc">Second Contact</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.secondCtc" formControlName="otherInfo.secondCtc" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.altPhone">Alternate Phone</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.altPhone" formControlName="otherInfo.altPhone" type="text">
  </div>
  <div class="col-span-3 sm:col-span-2">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.suretyCo">Surety Company</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.suretyCo" formControlName="otherInfo.suretyCo" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.bondAmount">Bond Amount</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.bondAmount" formControlName="otherInfo.bondAmount" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.paymentTerms">Payment Terms</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.paymentTerms" formControlName="otherInfo.paymentTerms" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.creditLimit">Credit Limit</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.creditLimit" formControlName="otherInfo.creditLimit" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.paymentStatus">Payment Status</label>
<input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.paymentStatus" formControlName="otherInfo.paymentStatus" type="text">

  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.payorUnitNo">Payor Unit No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.payorUnitNo" formControlName="otherInfo.payorUnitNo" type="text">
  </div>
  <div class="col-span-3 sm:col-span-2">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.trucker">Trucker</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.trucker" formControlName="otherInfo.trucker" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.truckerTel">Trucker Tel No</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.truckerTel" formControlName="otherInfo.truckerTel" type="text">
  </div>
  <div class="col-span-3 sm:col-span-2">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.truckerCtc">Trucker Contact</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.truckerCtc" formControlName="otherInfo.truckerCtc" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.salesMan">Salesman</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.salesMan" formControlName="otherInfo.salesMan" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.ctpatStatus">CTPAT Status</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.ctpatStatus" formControlName="otherInfo.ctpatStatus" type="text">
  </div>
  <div class="col-span-3 sm:col-span-1">
    <label class="block font-medium text-gray-700 mb-2" for="otherInfo.knownShipper">Known Shipper</label>
    <input class="form-input rounded-md shadow-sm mt-1 block w-full" id="otherInfo.knownShipper" formControlName="otherInfo.knownShipper" type="text">
  </div>
</div>
</form>
