.sidenav-container {
  height: auto;

}

.sidenav {
  width: 200px;
  margin-top:159px;
}

.sidenav .mat-toolbar {
  background: inherit;
  height: 80%;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
