/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

/*Added below styles extracted from the browser's developer tools
to delete vertial line appearing inside the outline formfield  */

*,
::before,
::after {
  border: none;
}

