<div class="container gap-8 columns-3">


    <img class="w-full aspect-video py-8" src="/assets/images/Antelope02.jpg" alt="Antelope Cannon" />

    <img class="w-full aspect-square py-8" src="/assets/images/Cargolux001.jpg" alt="Cargolux" />

    <img class="w-full aspect-auto py-8" src="/assets/images/CargoShip001.jpg" alt="Cargo Ship" />

    <img class="w-full aspect-video py-8" src="/assets/images/Fruits01.jpg" alt="Fruits01" />

    <img class="w-full aspect-square py-8" src="/assets/images/SunsetCargoShip001.jpg" alt="Sunset Cargo Ship" />

    <img class="w-full aspect-auto py-8" src="/assets/images/Trailer001.jpg" alt="Trailier" />

    <img class="w-full aspect-video py-8" src="/assets/images/WhiteFlowers.jpg" alt="White Flowers" />

    <img class="w-full aspect-square py-8" src="/assets/images/MaerskOnBerth001.jpg" alt="Maersk" />

    <img class="w-full aspect-auto py-8" src="/assets/images/YellowStone01.jpg" alt="Yellow Stone 01" />

    <img class="w-full aspect-video py-8" src="/assets/images/YellowStone03.jpg" alt="Yellow Stone 03" />

    <img class="w-full aspect-square py-8" src="/assets/images/YellowStone04.jpg" alt="Yellow Stone 04" />

    <img class="w-full aspect-auto py-8" src="/assets/images/YellowStone05.jpg" alt="Yellow Stone 05" />
</div>
